#body_main_frame_ML{
    padding-bottom:0px !important;
}
#content {
    background-size: 100% 100%;
    margin-top: 29px;
    height: 91vh;
}
form{
    margin-bottom: 0px !important;
}
#divRightContainer {
    width: auto;
    height: 62%;
    float: right;
    margin-right: 123px;
    margin-top: 102px;
}
textarea {
    resize: none;
}
#divClickBook {
    width: 150px;
    height: 100px;
}

    #divClickBook img {
        width: 100%;
        height: 100%;
    }

#divBookContainer {
    width: 100px;
    height: 100px;
    margin-left: 19px;
}

    #divBookContainer img {
        width: 100%;
        height: 100%;
        cursor:pointer;
    }

#divPlantsContainer {
    width: 200px;
    height: 200px;
}

    #divPlantsContainer img {
        width: 100%;
        height: 100%;
    }
#divMyRoomButtonContainer {
    float: left;
    height: 100px;
    width: 207px;
}
#prof_frame_avatar {
    /*float: right;*/
    height: 91px;
    width: 95px;
}
.prof_top_container {
    /*width: 62%;*/
    height: 175px;
    margin-top: 5px;
    position: relative;
    float:none;
}

#profile_right_Container {
    width: 50%;
    height: 85vh;
    float: left;
}
#imgStatusBox {
    width: 250px !important;
    height:auto !important;
}
#prof_top_con_txtupdatemystatus {
    width: 91%;
    height: 50px;
    float: left;
    margin: 0 auto;
    margin-left: 0px !important; 
    position: absolute;
    margin-top: 43px;
}
#txtStatus {
    width: 210px;
    margin-left: 5px;
    height: 94px;
    font-size: 12pt;
}
#prof_frame_info {
    width: auto;
    height: 65px;
    margin-left: 5px;
    float:none;
}
#changemyroom{

}
.lblLikeCount {
    font-size: 12pt;
    font-weight: bold;
    color: #808080;
    margin-left: 20px;
    width: 100%;
    margin-top: -5px;
}
#lblCountLikeLabelContainer{
    margin-top:2px;
}
#imgStar {
    width: 31px;
}
#prof_left_top {
    width: 76%;
    height: auto;
    float: left;
    margin-top: 31px;
    position:relative;
}
#imgAvatar{
    height:100%;
    width:100%;
}
#divPhotoContainer {
    width: 250px;
    height: 224px;
    float: right;
    margin-right: -90px;
    margin-top: 2px;
    background-image: url(../../Images/new/frame.png);
    background-size: 100% 100%;
    
}
    #divPhotoContainer #imgPhoto {
        height: 71%;
        width: 85%;
        margin-left: 18px;
        margin-top: 49px;
    }
#btnAddPhoto {
    border-style: None;
    height: 44px;
    width: 194px;
    background-image: url(/Images/new/upload.png);
    background-color: Transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 15px;
    background-size: cover;
    border-radius: 8px;
    /*margin-top: 14px;*/
    margin-left: 28px;
}
.prof_left_avatar_img{
	color:#ffffff;
	border:3px solid #ffffff;
	background-color:#ccffff;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
#divThemes {
    background-image: url(../../Images/new/theme.png);
    background-size: 100% 100%;
    height: 551px;
    background-color: transparent;
    width: 500px;
    text-align: center;
}
    #divThemes #divImgOkContainer {
        width: 88%;
        height: 67px;
        position: absolute;
        bottom: 33px;
        text-align: center;
    }
#imgThemeOk {
    height: 67px;
    cursor: pointer;
}
.theme {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
    cursor:pointer;
}
    .theme label {
        position: absolute;
        bottom: 0;
        font-size: 12px;
        font-weight: normal;
        font-family: system-ui;
        margin-bottom: -13px;
        width: 60px;
    }
.rows {
    width: 100%;
    height: 70px;
    position:relative;
}
#firstRow {
    margin-top: 110px;
}
#secondRow {
    margin-top: 39px;
}
#thirdRow {
    margin-top: 39px;
}
.main-content {
    padding-left: 13px;
}
.prof_bottom_container {
    float: none !important;
    width: 100% !important;
    height: auto !important;
    margin-top: 0px !important;
    padding-left: 0px !important;
    overflow: unset !important;
    padding-left: 6px !important;
    
}
.blocker {
    background-color: rgba(0,0,0,0.30) !important;
}
#lblCaption {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 9px;
    font-size: 14px;
    font-weight: 700;
    color: #808080;
}
#divLinkContainer {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    float: left;
    display: inline-block;
}
@media screen and (max-width: 1366px) and (max-height: 768px) {
    .prof_left_frame {
        padding-top: 0px !important;
    }
    #prof_left_top {
        margin-top: -16px !important;
    }
    .prof_top_container{
        margin-top: -2px !important;
    }
    #prof_frame_avatar {
        height: 71px;
        width: 71px;
        margin-top:11px;
    }
    #divRightContainer {
        margin-top: 21px;
    }

    #divClickBook {
        width: 136px;
        height: 66px;
        margin-top: 55px;
    }
    #divPlantsContainer {
        width: 200px;
        height: 175px;
        
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px) and (orientation : landscape) {
    #profile_left_Container {
        width: 62%;
        margin-top: 7px !important;
    }
    #prof_left_top {
        margin-left: -88px !important;
        margin-top: 19px !important;
        width: 100% !important;
    }

    #btnAddPhoto {
        margin-top: 52px;
    }

    .prof_left_avatar_img {
        margin-left: 0px;
    }

    #divRightContainer {
        margin-top: 256px !important;
        margin-right: 95px;
    }
}

@media only screen and (max-width: 768px) and (max-height : 1024px) and (orientation : portrait) {
    #profile_left_Container {
        overflow: inherit !important;
        width: 400px;
        float: left;
    }
    .prof_top_container {
        margin-top: 50px !important;
    }

    #txtStatus {
        width: 210px !important;
    }

    #btnChangeAvatar {
        width: 160px !important;
    }

    #btnChangeMyRoom {
        width: 160px !important;
    }

    #prof_left_top {
        margin-left: -88px !important;
        margin-top: 89px !important;
        width: 100% !important;
    }

    #btnAddPhoto {
        margin-top: 52px;
    }

    #profile_right_Container {
        width: 300px;
        float:left;
    }

    #prof_frame_avatar {
        /*float: right !important;*/
        margin-left: 0px;
    }

    #profile_left_Container {
        overflow: inherit !important;
    }

    #divPhotoContainer {
        width: 235px !important;
    }

    #divClickBook {
        margin-left: 20px !important;
    }

    .prof_left_avatar_img {
        margin-left: 0px;
    }

    #divRightContainer {
        /*margin-top: 233px;*/
        margin-top: 267px;
        margin-right: 0px;
    }

    .dropdown-content {
        right: -17px;
    }
    #divLinkContainer{
        margin-left:110px;
    }
}
@media only screen and (max-height: 414px) and (max-width : 896px) and (orientation : landscape) {
    #profile_left_Container {
        width: 50%;
        height: auto;
        float: left;
        overflow: hidden;
        margin-top: -34px !important;
    }

    #txtStatus {
        width: 168px !important;
        margin-left: 5px;
        height: 64px;
        font-size: 12pt;
    }

    #divClickBook {
        margin-top: 0px !important;
    }

    #divClickBook {
        width: 84px;
        height: 49px;
    }

    #divBookContainer {
        width: 60px;
        height: 60px;
        margin-left: 19px;
    }

    #divPlantsContainer {
        width: 140px;
        height: 125px;
    }

    #divRightContainer {
        margin-top: 31px !important;
        margin-right: 118px !important;
    }

    #imgStatusBox {
        width: 199px !important;
    }

    .lblLikeCount {
        margin-top: -45px;
    }

    #prof_left_top {
        margin-top: 32px !important;
    }

    #profile_left_Container {
        width: 62%;
    }

    #divPhotoContainer {
        margin-right: 0px;
    }

    #divPhotoContainer {
        width: 200px !important;
        height: 173px !important;
    }

        #divPhotoContainer #imgPhoto {
            height: 71%;
            width: 88%;
            margin-left: 13px;
            margin-top: 38px;
        }

    #prof_left_top {
        margin-left: -92px !important;
    }

    #btnAddPhoto {
        left: 0px;
        margin-top: 62px;
    }

    #prof_frame_avatar {
        margin-left: -4px;

    }

    #profile_right_Container {
        width: 37%;
    }

    #btnChangeMyRoom {
        margin-top: -8px;
    }
    #divLinkContainer{
        margin-left:83px;
    }
}
@media screen and (max-width: 414px) and (max-height: 896px) and (orientation : portrait) {
    #profile_left_Container {
        width: 50%;
        height: auto;
        float: left;
        overflow: hidden;
        margin-top: 14px;
    }

    #txtStatus {
        width: 168px !important;
        margin-left: 5px;
        height: 64px;
        font-size: 12pt;
    }

    #divRightContainer {
        margin-top: 0px !important;
        margin-right: 0px;
    }

    #divClickBook {
        margin-top: 0px !important;
    }

    #divClickBook {
        width: 84px;
        height: 49px;
    }

    #divBookContainer {
        width: 60px;
        height: 60px;
        margin-left: 19px;
    }

    #divPlantsContainer {
        width: 140px;
        height: 125px;
    }

    #divRightContainer {
        margin-top: 300px !important;
        margin-right: 118px !important;
    }

    #imgStatusBox {
        width: 199px !important;
    }

    .lblLikeCount {
        margin-top: -45px;
    }

    #prof_left_top {
        margin-top: 32px !important;
    }

    #profile_left_Container {
        width: 62%;
    }

    #divPhotoContainer {
        margin-right: 0px;
    }

    #divPhotoContainer {
        width: 200px !important;
        height: 173px !important;
    }

        #divPhotoContainer #imgPhoto {
            height: 71%;
            width: 88%;
            margin-left: 13px;
            margin-top: 38px;
        }

    #prof_left_top {
        margin-left: -92px !important;
    }

    #btnAddPhoto {
        left: 0px;
        margin-top: 62px;
    }

    #prof_frame_avatar {
        margin-left: 0px;
    }

    #profile_right_Container {
        width: 37%;
    }

    #btnChangeMyRoom {
        margin-top: -8px;
    }
}
@media only screen and (min-height: 600px) and (max-width : 1024px) and (orientation : landscape) {
    #profile_left_Container {
        width: 50%;
        height: auto;
        float: left;
        overflow: hidden;
        margin-top: -14px;
    }

    #txtStatus {
        width: 168px !important;
        margin-left: 5px;
        height: 64px;
        font-size: 12pt;
    }

    #divClickBook {
        margin-top: 0px !important;
    }

    #divClickBook {
        width: 84px;
        height: 49px;
    }

    #divBookContainer {
        width: 60px;
        height: 60px;
        margin-left: 19px;
    }

    #divPlantsContainer {
        width: 140px;
        height: 125px;
    }

    #divRightContainer {
        margin-top: 139px;
        margin-right: 118px !important;
    }

    #imgStatusBox {
        width: 199px !important;
    }

    .lblLikeCount {
        margin-top: -45px;
    }

    #prof_left_top {
        margin-top: 32px !important;
    }

    #profile_left_Container {
        width: 62%;
    }

    #divPhotoContainer {
        margin-right: 0px;
    }

    #divPhotoContainer {
        width: 200px !important;
        height: 173px !important;
    }

        #divPhotoContainer #imgPhoto {
            height: 71%;
            width: 88%;
            margin-left: 13px;
            margin-top: 38px;
        }

    #prof_left_top {
        margin-left: -92px !important;
    }

    #btnAddPhoto {
        left: 0px;
        margin-top: 62px;
    }

    #prof_frame_avatar {
        margin-left: -4px;
    }

    #profile_right_Container {
        width: 37%;
    }

    #btnChangeMyRoom {
        margin-top: -8px;
    }
}
@media only screen and (min-width: 600px) and (max-height : 1024px) and (orientation : portrait) {
    #profile_left_Container {
        width: 50%;
        height: auto;
        float: left;
        overflow: hidden;
        margin-top: 46px;
    }

    #txtStatus {
        width: 168px !important;
        margin-left: 5px;
        height: 64px;
        font-size: 12pt;
    }


    #divClickBook {
        margin-top: 0px !important;
    }

    #divClickBook {
        width: 84px;
        height: 49px;
    }

    #divBookContainer {
        width: 60px;
        height: 60px;
        margin-left: 19px;
    }

    #divPlantsContainer {
        width: 140px;
        height: 125px;
    }

    #divRightContainer {
        margin-top: 413px !important;
        margin-right: 118px !important;
    }

    #imgStatusBox {
        width: 199px !important;
    }

    .lblLikeCount {
        margin-top: -45px;
    }

    #prof_left_top {
        margin-top: 32px !important;
        width:3%
    }

    #profile_left_Container {
        width: 62%;
    }

    #divPhotoContainer {
        margin-right: 0px;
    }

    #divPhotoContainer {
        width: 200px !important;
        height: 173px !important;
    }

        #divPhotoContainer #imgPhoto {
            height: 71%;
            width: 88%;
            margin-left: 13px;
            margin-top: 38px;
        }

    #prof_left_top {
        margin-left: -92px !important;
    }

    #btnAddPhoto {
        left: 0px;
        margin-top: 62px;
    }

    #prof_frame_avatar {
        margin-left: 0px;
    }

    #profile_right_Container {
        width: 37%;
    }

    #btnChangeMyRoom {
        margin-top: -8px;
    }
    #divLinkContainer {
        margin-left: 114px;
        width:200px;
    }
}
