 .body_main_frame_ML {
            background-color:#17d1fa !important;
            color:black;
        }
            .profile_left_Container  span{
                color:black;
            }
        .prof_top_container span {
            color:black;
        }
        .prof_MyPhoto_Container span {
            color:black;
        }
        #tabs label{
            color:black !important;
        }
        .ui-widget-content {
            background-color:transparent !important;
            background:none;
        }
        .ui-widget-content span{
            color:black;
        }
        .ui-widget-content a{
            color:black;
        }
        .ui-widget-header {
            background:none;
        }
            .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
                background:none;
            }
            .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default a {
                color:black;
            }
            .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
                background:skyblue !important;
            }
            .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active a {
                color:black;
            }
        .prof_top_con_txtupdatemystatus_box {
            background:none;
            color:black;
        }

        .ui-dialog > .ui-widget-header {background: #f9f8f8 url(images/ui-bg_flat_75_f9f8f8_40x100.png) 50% 50% repeat-x !important; background-color: #f9f8f8 !important;}
          .ui-dialog > .ui-widget-content {background:#f9f8f8 url(images/ui-bg_flat_75_f9f8f8_40x100.png) 50% 50% repeat-x !important; background-color: #f9f8f8 !important;}
        .ui-dialog-title {
            color:black !important;
        }
          .ui-dialog > .ui-widget-content span {
            color:black !important;
        }

.description_content {
    background-color:#7accec !important;
}
.tcp_lbl_title span {
    color:black !important;
}

.tcp_lbl_title_container  span{
    color:black !important;
}

