@{
    ViewData["Title"] = "Admin Page";
}


<div class="account-container">
    <div class="account-box">
        <h2 class="text-center">Welcome to Admin dashboard</h2>
        <div class="text-center mt-3">
            <a class="btn btn-primary" asp-controller="CoursesAdmin" asp-action="Index">
                Manage Courses
            </a>
        </div>
    </div>
</div>