@{
    ViewData["Title"] = "Home Page";
}
    <!-- Banner Section -->
<div class="container-fluid">
    <div class="text-center">
        <img src="~/images/banner.jpg" alt="Banner" class="img-fluid" style="max-height:370px;  width: 100% !important;position: relative;" onmousedown="return false;" />
    </div>
</div>

    <div class="container">    
        <h2 class="text-center mb-4">Our Specialist Doctors</h2>
        <!-- Row 1 -->
        <div class="row mb- 4">
            <div class="col-md-3 text-center">
                <img src="~/images/doc3.jpg" class="rounded-circle img-fluid" alt="Doctor 1" style="width:80px;height:80px;" onmousedown="return false;" />
                <h5 class="mt-2">Dr. Asraf Uddin</h5>
                <p>MBBS, FCPS (Medicine)</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="~/images/doc3.jpg" class="rounded-circle img-fluid" alt="Doctor 2" style="width:80px;height:80px;" onmousedown="return false;" />
                <h5 class="mt-2">Dr. Rahman</h5>
                <p>MBBS, MD (Cardiology)</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="~/images/doc3.jpg" class="rounded-circle img-fluid" alt="Doctor 3" style="width:80px;height:80px;" onmousedown="return false;" />
                <h5 class="mt-2">Dr. Sara Khan</h5>
                <p>MBBS, MS (Gynae)</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="~/images/doc3.jpg" class="rounded-circle img-fluid" alt="Doctor 4" style="width:80px;height:80px;" onmousedown="return false;" />
                <h5 class="mt-2">Dr. Alam</h5>
                <p>MBBS, FCPS (ENT)</p>
            </div>
        </div>

        <!-- Row 2 -->
        <div class="row mb-4">
            <div class="col-md-3 text-center">
                <img src="~/images/doc8.jpg" class="rounded-circle img-fluid" alt="Doctor 5" style="width:80px;height:80px;" onmousedown="return false;" />
                <h5 class="mt-2">Dr. Jahan</h5>
                <p>MBBS, MD (Dermatology)</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="~/images/doc8.jpg" class="rounded-circle img-fluid" alt="Doctor 6" style="width:80px;height:80px;" onmousedown="return false;" />
                <h5 class="mt-2">Dr. Kabir</h5>
                <p>MBBS, MS (Orthopaedics)</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="~/images/doc8.jpg" class="rounded-circle img-fluid" alt="Doctor 7" style="width:80px;height:80px;" onmousedown="return false;" />
                <h5 class="mt-2">Dr. Rupa</h5>
                <p>MBBS, FCPS (Paediatrics)</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="~/images/doc8.jpg" class="rounded-circle img-fluid" alt="Doctor 8" style="width:80px;height:80px;" onmousedown="return false;" />
                <h5 class="mt-2">Dr. Imran</h5>
                <p>MBBS, MD (Neurology)</p>
            </div>
        </div>

    </div>
