<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
        <add key="aspnet:uselegacysynchronizationcontext" value="false" />
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="aspnet:MaxHttpCollectionKeys" value="10000"/>
		<add key="RowsPerPage" value="25" />
      </appSettings>
	<location path=".">
		<system.webServer>
			<security>
				<authorization>
					<remove users="?" roles="" verbs="" />
					<add accessType="Allow" users="" roles="Teacher,Administrator" />
				</authorization>
			</security>
		</system.webServer>
	</location>
	<location path="Login.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
    <system.web>
		
      <compilation targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" maxRequestLength="10485760" useFullyQualifiedRedirectUrl="true" executionTimeout="14400" maxQueryStringLength="2097151" maxUrlLength="99999" />
      <authentication mode="Forms">
        <forms loginUrl="~/Login.aspx" timeout="300" defaultUrl="~/Login.aspx" name=".ASPNETAUTHADMIN" slidingExpiration="true" protection="All" />
      </authentication>

		<sessionState timeout="120" mode="InProc" cookieless="false"></sessionState>
		<machineKey validationKey="E1EA6616BDEBF793D675559A3844CC5C3CD297E62939707147EACBB34010DB643215C4E34E6C8954102CEAD2628B8B544E0CD003CC6E1264701EF128A5732E9D" decryptionKey="5139169438BD8217E6E5F8E47A6B531ABF67802485645FFFE0E573BDCA897552" validation="SHA1" decryption="AES" />

		<customErrors mode="Off"></customErrors>
    </system.web>
	
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPaletteService" sendTimeout="00:20:00" messageEncoding="Mtom" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
                <binding name="BasicHttpBinding_IMiscService" sendTimeout="00:20:00" messageEncoding="Mtom" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"  />
                <binding name="BasicHttpBinding_IUser" sendTimeout="00:20:00" messageEncoding="Mtom" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"  />
                <binding name="BasicHttpBinding_IPhraseCategoryService" sendTimeout="00:20:00" messageEncoding="Mtom" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"  />
                <binding name="BasicHttpBinding_IAuxilliaryServices" sendTimeout="00:20:00" messageEncoding="Mtom" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"  />
                <binding name="BasicHttpBinding_ISchoolService" sendTimeout="00:20:00" messageEncoding="Mtom" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"  />
				<binding name="BasicHttpBinding_IReportService" sendTimeout="00:20:00" messageEncoding="Mtom" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"  />

			</basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://148.66.9.3/Services/Service/PaletteService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaletteService" contract="PaletteService.IPaletteService" name="BasicHttpBinding_IPaletteService" />
            <endpoint address="http://148.66.9.3/Services/Service/MiscService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMiscService" contract="MiscService.IMiscService" name="BasicHttpBinding_IMiscService" />
            <endpoint address="http://148.66.9.3/Services/Service/UserService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUser" contract="UserService.IUser" name="BasicHttpBinding_IUser" />
            <endpoint address="http://148.66.9.3/Services/Service/PhraseCategoryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhraseCategoryService" contract="PhraseCategoryService.IPhraseCategoryService" name="BasicHttpBinding_IPhraseCategoryService" />
            <endpoint address="http://148.66.9.3/Services/Service/AuxilliaryServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuxilliaryServices" contract="AuxilliaryService.IAuxilliaryServices" name="BasicHttpBinding_IAuxilliaryServices" />
            <endpoint address="http://148.66.9.3/Services/Service/SchoolService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISchoolService" contract="SchoolService.ISchoolService" name="BasicHttpBinding_ISchoolService" />
			<endpoint address="http://148.66.9.3/Services/Service/ReportService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportService" contract="ReportService.IReportService" name="BasicHttpBinding_IReportService" />

		</client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</handlers>
	</system.webServer>
</configuration>
