<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="LanguageDiscoveryConnectionString" connectionString="Data Source=.\MSSQLSERVER2017;Initial Catalog=Palaygo_Prod;uid=PalaygoUser;Password=P@layg0Us3r2017;" providerName="System.Data.SqlClient" />
    <!--<add name="LanguageDiscoveryConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=LanguageDiscovery;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\LanguageDiscovery.mdf"/>-->
  </connectionStrings>
  <appSettings>
    <add key="SentenceRowsPerPage" value="5" />
    <add key="WordRowsPerPage" value="6" />
    <add key="SMTP" value="localhost" />
    <add key="PasswordRecoveryEmail" value="info@languagediscovery.org" />
	<add key="UnreadThreshold" value="10" />
	<add key="SearchHistoryLimit" value="5" />
	<add key="LogDirectory" value="D:\Site\Logs\PROD\" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="0" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="Student">
    <system.webServer>
      <security>
        <authorization>
          <remove users="*" roles="" verbs="" />
          <add accessType="Allow" users="" roles="Student,Teacher" />
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="." inheritInChildApplications="false">
    <system.web>

      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" maxRequestLength="2000000" useFullyQualifiedRedirectUrl="true" executionTimeout="14400" maxQueryStringLength="2097151" maxUrlLength="99999" />
      <pages>
        <namespaces>
          <add namespace="System.Web.Optimization" />
        </namespaces>
        <controls>
          <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        </controls>
      </pages>
      <authentication mode="Forms">
        <forms loginUrl="~/Login" timeout="120" defaultUrl="~/Login" name=".ASPNETAUTH" protection="All" slidingExpiration="true" />
      </authentication>
      <!--<profile defaultProvider="DefaultProfileProvider">
        <providers>
          <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
        </providers>
      </profile>
      <membership defaultProvider="DefaultMembershipProvider">
        <providers>
          <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
        </providers>
      </membership>
      <roleManager defaultProvider="DefaultRoleProvider">
        <providers>
          <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
        </providers>
      </roleManager>-->
      <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
      <!--<sessionState
             mode="SQLServer" allowCustomSqlDatabase="true"
             sqlConnectionString="data source=127.0.0.1;database=ASPState; user id=LanguageDiscovery;password=LanguageDiscovery;" timeout="20" cookieless="false"
   />-->
		<customErrors mode="Off"></customErrors>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPhraseService" sendTimeout="00:20:00" closeTimeout="00:20:00" />
        <binding name="BasicHttpBinding_IPaletteService" sendTimeout="00:20:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" messageEncoding="Mtom" closeTimeout="00:20:00" />
        <binding name="BasicHttpBinding_IMiscService" sendTimeout="00:20:00" messageEncoding="Mtom" closeTimeout="00:20:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        <binding name="BasicHttpBinding_IAuxilliaryServices" messageEncoding="Mtom" sendTimeout="00:20:00" closeTimeout="00:20:00" />
        <binding name="BasicHttpBinding_IPhraseCategoryService" messageEncoding="Mtom" sendTimeout="00:20:00" closeTimeout="00:20:00" />
        <binding name="BasicHttpBinding_ISchoolService" messageEncoding="Mtom" sendTimeout="00:20:00" closeTimeout="00:20:00" />
        <binding name="BasicHttpBinding_IUser" messageEncoding="Mtom" sendTimeout="00:20:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" closeTimeout="00:20:00" />

      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://148.66.9.3/services/Service/PhraseService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhraseService" contract="PhraseService.IPhraseService" name="BasicHttpBinding_IPhraseService" />
      <endpoint address="http://148.66.9.3/services/Service/PaletteService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaletteService" contract="PaletteService.IPaletteService" name="BasicHttpBinding_IPaletteService" />
      <endpoint address="http://148.66.9.3/services/Service/MiscService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMiscService" contract="MiscService.IMiscService" name="BasicHttpBinding_IMiscService" />
      <endpoint address="http://148.66.9.3/services/Service/AuxilliaryServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuxilliaryServices" contract="AuxilliaryServices.IAuxilliaryServices" name="BasicHttpBinding_IAuxilliaryServices" />
      <endpoint address="http://148.66.9.3/services/Service/PhraseCategoryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhraseCategoryService" contract="PhraseCategoryService.IPhraseCategoryService" name="BasicHttpBinding_IPhraseCategoryService" />
      <endpoint address="http://148.66.9.3/services/Service/SchoolService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISchoolService" contract="SchoolService.ISchoolService" name="BasicHttpBinding_ISchoolService" />
      <endpoint address="http://148.66.9.3/services/Service/UserService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUser" contract="UserService.IUser" name="BasicHttpBinding_IUser" />
    </client>
  </system.serviceModel>
    <system.net>
        <mailSettings>
            <smtp from="">
                <network host="localhost" />
            </smtp>
        </mailSettings>
    </system.net>
    <system.web>
        <sessionState timeout="120" />
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>