<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ImagePath" value="D:\Site\Palaygo\Palaygo_Prod\Web\UserPhoto\" />
    <add key="SoundPath" value="D:\Site\Palaygo\Palaygo_Prod\Web\Content\Sound\" />
    <add key="ContentImagePath" value="D:\Site\Palaygo\Palaygo_Prod\Web\Content\images\" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="LanguageDiscoveryConnectionString" connectionString="Data Source=.\MSSQLSERVER2017;Initial Catalog=Palaygo_Prod;uid=PalaygoUser;Password=P@layg0Us3r2017;" providerName="System.Data.SqlClient" />
    <!--<add name="LanguageDiscoveryConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=LanguageDiscovery;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\LanguageDiscovery.mdf"/>-->
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="0" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
	  <pages theme="">
		  
	  </pages>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>  
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" messageEncoding="Mtom" receiveTimeout="00:20:00" maxBufferSize="2147483647" closeTimeout="00:20:00">
        <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
     </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
        <rewrite>
            <rules>
                <remove name="http to https" />
            </rules>
        </rewrite>
  </system.webServer>

</configuration>
