<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <clear />
	  <!--<add name="LanguageDiscoveryConnectionString" connectionString="Data Source=.;Initial Catalog=Palaygo_Prod;uid=PalaygoUser;Password=P@layg0Us3r2020;" providerName="System.Data.SqlClient" />-->
	  <add name="LanguageDiscoveryConnectionString" connectionString="Data Source=(local);Initial Catalog=Palaygo_UAT;uid=sa;Password=12345678;" providerName="System.Data.SqlClient" />
    <!--<add name="LanguageDiscoveryConnectionString" connectionString="Data Source=MATEODESKTOP\MSSQLSERVER2019;Initial Catalog=Palaygo_04242021;uid=palaygo;Password=palaygo;" providerName="System.Data.SqlClient" />-->
    <!--<add name="LanguageDiscoveryConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=LanguageDiscovery;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\LanguageDiscovery.mdf" />-->
  </connectionStrings>
  <appSettings>
    <add key="SentenceRowsPerPage" value="10" />
    <add key="TalkSentenceRowsPerPage" value="10" />
    <add key="TalkMySentenceRowsPerPage" value="10" />
    <add key="WordRowsPerPage" value="6" />
    <add key="TalkWordRowsPerPage" value="10" />
    <add key="SMTP" value="smtp.mailtrap.io" />
    <add key="Port" value="2525" />
    <add key="PasswordRecoveryEmail" value="fbelasa@converga.com.au" />
    <add key="AdminEmail" value="info@languagediscovery.org" />
    <add key="Url" value="http://www.languagediscovery.com.au/" />
    <add key="DebugSignalR" value="true" />
    <add key="UnreadThreshold" value="1" />
    <add key="ExcludeWordForRejection" value="hi, hello" />
    <add key="SearchHistoryLimit" value="5" />
    <add key="LogDirectory" value="C:\Codes\Logs\PROD\" />
    <add key="AppId" value="ff3122.vidyo.io" />
    <add key="AppKey" value="cd8cdd10e279485e8f0a880a6ae3a7e2" />
    <add key="TranslationApiKey" value="AIzaSyBgELa4bQZKf4NxIT2kE9tTlrW3Y8GZj8w" />
    <add key="ENV" value="DEV" />
    <add key="DEVUserName" value="f51aab2d717be5" />
    <add key="DEVPassword" value="99d76ecdff64fe" />
    <add key="TimeToShowPartner" value="60" />
    <add key="EndTimeToShowPartner" value="240" />
    <add key="TalkTestUser" value="Palaygo Test" />
    <add key="DisplayACT" value="false" />
    <add key="Salt" value="{50D1C6FC-EEB9-4168-B3A8-0D625663259E}" />
    <add key="AttendanceThreshold" value="15, 10, 5" />
    <add key="AttendanceScore" value="100, 50, 20" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="Student">
    <system.webServer>
      <security>
        <authorization>
          <remove users="*" roles="" verbs="" />
          <add accessType="Allow" users="" roles="Student,Teacher" />
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <customErrors mode="Off" />
      <compilation debug="true" targetFramework="4.7.2" />
      <httpRuntime targetFramework="4.7.2" maxRequestLength="2000000" useFullyQualifiedRedirectUrl="true" executionTimeout="14400" />
      <pages>
        <namespaces>
          <add namespace="System.Web.Optimization" />
        </namespaces>
        <controls>
          <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        </controls>
      </pages>
      <authentication mode="Forms">
        <forms loginUrl="~/Login" timeout="1" defaultUrl="~/Login" name=".ASPNETAUTH" protection="All" slidingExpiration="true" />
      </authentication>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="B77A5C561934E089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.44.1.0" newVersion="1.44.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.44.1.0" newVersion="1.44.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMiscService" sendTimeout="00:20:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" />
        <binding name="BasicHttpBinding_IPhraseCategoryService" sendTimeout="00:20:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" />
        <binding name="BasicHttpBinding_IUser" sendTimeout="00:20:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" />
        <binding name="BasicHttpBinding_IPhraseCategoryService1" messageEncoding="Mtom" sendTimeout="00:20:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IAuxilliaryServices" messageEncoding="Mtom" sendTimeout="00:20:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IPaletteService" messageEncoding="Mtom" sendTimeout="00:20:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IPhraseService" sendTimeout="00:20:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ISchoolService" messageEncoding="Mtom" sendTimeout="00:20:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49709/Service/MiscService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMiscService" contract="MiscService.IMiscService" name="BasicHttpBinding_IMiscService" />
      <endpoint address="http://localhost:49709/Service/UserService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUser" contract="UserService.IUser" name="BasicHttpBinding_IUser" />
      <endpoint address="http://localhost:49709/Service/PhraseCategoryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhraseCategoryService" contract="PhraseCategoryService.IPhraseCategoryService" name="BasicHttpBinding_IPhraseCategoryService" />
      <endpoint address="http://localhost:49709/Service/AuxilliaryServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuxilliaryServices" contract="AuxilliaryServices.IAuxilliaryServices" name="BasicHttpBinding_IAuxilliaryServices" />
      <endpoint address="http://localhost:49709/Service/PaletteService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaletteService" contract="PaletteService.IPaletteService" name="BasicHttpBinding_IPaletteService" />
      <endpoint address="http://localhost:49709/Service/PhraseService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhraseService" contract="PhraseService.IPhraseService" name="BasicHttpBinding_IPhraseService" />
      <endpoint address="http://localhost:49709/Service/SchoolService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISchoolService" contract="SchoolService.ISchoolService" name="BasicHttpBinding_ISchoolService" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
</configuration>